name: My first workflow

on:
   - push

jobs:
   say-hello
      name: hello
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v3
         - name: Say Hello
           run: echo "Hello"
